<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Listing Comments</h1>

	<% @comments.each do |comment| %>
		<div>
			<a href="<%= edit_comment_url( comment ) %>" class="pull-right"><i class="fa fa-edit"></i></a>
			<img class="pull-left" src="<%= comment.image_url %>" style="width: 150px; margin-right: 12px; "/>
			<blockquote>
				<%= comment.comment %>
				<footer><%= comment.name %></footer>
			</blockquote>
		</div>
	<% end %>
</div>

<br>
<div class="text-center">
	<%= link_to 'New Comment', new_comment_path, class: "btn btn-default" %>
</div>