<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<h1>Listing Medications</h1>
	
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Dosage</th>
	      <th>Description</th>
	      <th>Education</th>
	      <th colspan="2"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @medications.each do |medication| %>
	      <tr>
	        <td><%= medication.name %></td>
	        <td><%= medication.dosage %></td>
	        <td><%= medication.description.present? ? "Present" : "" %></td>
	        <td><%= medication.education.present? ? "Present" : "" %></td>
	        <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
	        <td><%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br/>

	<%= link_to 'New Medication', new_medication_path %>
</div>

